.c-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  padding: 12px 16px;
  border-radius: var(--border-radius);
  text-align: center;
  background: var(--color-gray);
  color: var(--color-text-light);
  box-shadow: 1px 1px 0 0 inset rgba(255,255,255,0.6), -1px -1px 0 0 inset rgba(0,0,0,0.2), 1px 4px 8px 0 rgba(0,0,0,0.2), 1px 2px 2px 0 rgba(0,0,0,0.2);
  gap: 8px;

  svg {
    fill: currentColor !important;

    path {
      fill: currentColor !important;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.25;
  }

  &:hover {
    background: var(--color-gray-hover);
  }

  &.c-button--primary {
    color: var(--color-text-base-on-primary);
    background: var(--color-primary);

    &:hover {
      background: var(--color-primary-hover);
    }
  }

  &.c-button--small {
    padding: 4px 8px;
  }

  &.c-button--icon {
    padding: 8px;
    min-width: 40px;
    min-height: 40px;
  }

  &.c-button--icon.c-button--small {
    min-width: 18px;
    min-height: 18px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &.c-button--flat {
    box-shadow: none;
  }

  &.c-button--bare {
    padding: 0;
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }

  &.c-button--circle {
    border-radius: 100%;
  }
}