.c-collection-sidebar-wrap {
  position: fixed;
  inset: 0;
  z-index: 100;
}

.c-collection-sidebar__scrim {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.15);
  z-index: 1;
}

.c-collection-sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  top: 0;
  right: 0;
  width: 296px;
  height: 100%;
  padding: 24px;
  background: var(--color-gray);
  color: var(--color-text-light);
  box-shadow: 1px 1px 0 0 inset rgba(255,255,255,0.6), -1px -1px 0 0 inset rgba(0,0,0,0.2), 1px 4px 8px 0 rgba(0,0,0,0.2), 1px 2px 2px 0 rgba(0,0,0,0.2);
  border-radius: 24px 0 0 24px;
  z-index: 2;
}

.c-collection-sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-collection-sidebar__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h5 {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: var(--color-text-base);
    text-align: center;
  }
  span {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: var(--color-text-light);
    text-align: center;
  }
}

.c-collection-sidebar__section {
  display: flex;
  flex-direction: column;
  gap: 12px;

  h5 {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: var(--color-text-base);
    text-align: left;
  }
}

.c-collection-sidebar__search {
  position: relative;
  display: flex;
  gap: 8px;
  background: linear-gradient(to bottom right, rgba(0,0,0,0.02), rgba(0,0,0, 0.05));
  box-shadow: -2px -2px 2px 0 inset rgba(255,255,255,0.6), 2px 2px 2px 0px inset rgba(0,0,0,0.2);
  padding: 8px 12px 8px 8px;
  border-radius: 20px;

  &.c-collection-sidebar__search--active {
    button {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
    }

    input {
      padding-right: 40px;
    }
  }

  svg {
    fill: var(--color-text-lighter);

    path {
      fill: var(--color-text-lighter);
    }
  }

  input {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 16px;
    color: var(--color-text-base);
    position: absolute;
    inset: 0;
    padding: 0 8px 0 40px;
    background: none;
    border-radius: 20px;
    border: none;

    &:focus {
      outline: none;
      border: none;
      box-shadow: 0 0 0 2px var(--color-primary);
    }
  }
}

.c-collection-sidebar__chip-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.c-collection-sidebar__chip {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: var(--font-family);
  font-size: 10px;
  line-height: 12px;
  padding: 8px 12px 8px 8px;
  background: var(--color-gray);
  color: var(--color-text-base);
  border-radius: 16px;
  box-shadow: 1px 1px 0 0 inset rgba(255,255,255,0.6), -1px -1px 0 0 inset rgba(0,0,0,0.2), 1px 4px 8px 0 rgba(0,0,0,0.2), 1px 2px 2px 0 rgba(0,0,0,0.2);

  &:hover {
    background: var(--color-gray-hover);
  }

  svg {
    width: 16px;
    height: 16px;
    /* stroke: var(--color-gray);
    stroke-width: 1px; */
  }

  &.c-collection-sidebar__chip--active {
    background: var(--color-primary);
    color: var(--color-text-base-on-primary);

    &:hover {
      background: var(--color-primary-hover);
    }
  }

  &.c-collection-sidebar__chip--colorless {
    svg path {
      fill: var(--color-type-colorless);
    }
  }

  &.c-collection-sidebar__chip--darkness {
    svg path {
      fill: var(--color-type-darkness);
    }
  }

  &.c-collection-sidebar__chip--dragon {
    svg path {
      fill: var(--color-type-dragon);
    }
  }

  &.c-collection-sidebar__chip--fighting {
    svg path {
      fill: var(--color-type-fighting);
    }
  }

  &.c-collection-sidebar__chip--fire {
    svg path {
      fill: var(--color-type-fire);
    }
  }

  &.c-collection-sidebar__chip--grass {
    svg path {
      fill: var(--color-type-grass);
    }
  }

  &.c-collection-sidebar__chip--lightning {
    svg path {
      fill: var(--color-type-lightning);
    }
  }

  &.c-collection-sidebar__chip--psychic {
    svg path {
      fill: var(--color-type-psychic);
    }
  }

  &.c-collection-sidebar__chip--water {
    svg path {
      fill: var(--color-type-water);
    }
  }
}