.c-collection-card {
  position: relative;
  display: flex;
  aspect-ratio: 733/1024;
  border-radius: var(--border-radius);
  background: linear-gradient(to bottom right, rgba(0,0,0,0.02), rgba(0,0,0, 0.05));
  box-shadow: -2px -2px 2px 0 inset rgba(255,255,255,0.6), 2px 2px 2px 0px inset rgba(0,0,0,0.2);
}

.c-collection-card__img {
  z-index: 2;
}

.c-collection-card__index {
  position: absolute;
  width: 100%;
  aspect-ratio: 733/1024;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  color: var(--color-text-too-light);
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  z-index: 1;
}

.c-collection-card__count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  font-family: var(--font-family);
  font-size: 8px;
  line-height: 12px;
  padding: 4px;
  border-radius: var(--border-radius) 0 0 0;
  background: var(--color-primary);
  color: #fff;
  font-weight: bold;
  bottom: 0;
  right: 0;
  z-index: 2;
}